@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Regular.woff2") format("woff2");
}

body {
  font-family: "Graphik", sans-serif;
  background-color: var(--white);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --light-blue: #2091f9;
  --black: #000000;
  --light-black: #252B42;
  scroll-behavior: smooth;
  font-family: Graphik;
}

img {
  display: block;
}
