@font-face {
    font-family: "Graphik1";
    src: url("../fonts/Graphik-Medium.woff2") format("woff2");
  }
.features {
  color: var(--black);
  padding-left: 30px;
  padding-right: 30px;
  
}


.features__text {
  text-align: center;
}
.features__text--title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px; /* 114.583% */
  letter-spacing: 0.2px;
}
.features__text--subtitle {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 142.857% */
  letter-spacing: 0.2px;
  color: var(--paragraph-color);

}
.features__laptop {
  display: flex;
  justify-content: center;
  position: relative;
}
.features__laptop--screen {
  width: 100%;
}
.features__laptop--ellipse {
  position: absolute;
  left: 43%;
  top: 42%;
  width: 40px;
}
.features__laptop--play-icon {
  position: absolute;
  left: 47%;
  top: 48%;
  width: 13px;
}
.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  color: var(--light-black);
}

.features__item:not(:last-child) {
  margin-bottom: 10px;
}
.features__item > .features__item--title {
    font-family: "Graphik1";
  font-size: 30px;
  font-style: normal;
  font-weight: 500px;
  line-height: 30px; /* 114.583% */
  letter-spacing: 0.2px;
}
.features__item > .features__item--subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  letter-spacing: 0.2px;
  margin: 5px;
}
